<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true">
    <!-- 彩色日志 -->
    <!-- 彩色日志依赖的渲染类 -->
    <conversionRule conversionWord="clr" converterClass="com.plus.core.logback.ColorConverter"/>
    <conversionRule conversionWord="wex" converterClass="com.plus.core.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx"
                    converterClass="com.plus.core.logback.ExtendedWhitespaceThrowableProxyConverter"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%15.50thread] %highlight(%-5level) %boldGreen(%logger{50}) : %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>